@model IEnumerable<Demo.Entity.UserPostModel>

@{
    ViewBag.Title = "GetAllPosts";
    Layout = null;
}



<table class="table PostList">


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.post.PostStatement
            </td>

            <td>
                @item.post.UserName
            </td>
            <td>
                @item.post.PostDate.ToLocalTime().ToString("MM/dd/yyyy")
            </td>
            <td>
                @item.post.TotalComment
            </td>

        </tr>
        foreach (var comment in item.commentList)
        {
            <tr>
                <td>
                    @comment.CommentStatement
                </td>
                <td>
                    @comment.UserName
                </td>
                <td>
                    @comment.CommentDate.ToLocalTime().ToString("MM/dd/yyyy")
                </td>
                <td>
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg" onclick="IncreaseLike(@comment.Id)">
                        <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z" />
                    </svg>
                    <span class="likeCount_@comment.Id" >@comment.Like </span>
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg" id="downArrow" onclick="DecreaseLike(@comment.Id)">
                        <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z" />
                    </svg><span class="dislikeCount_@comment.Id">@comment.Dislike</span>
                </td>


            </tr>
        }

    }

</table>



<div class="opportunities_pagination_container">
    <div class="opportunities_pagination_inner">
        @if (ViewBag.PageCount == 1)
        {
            <div class="paginationMiddleButtondv" id="pagination">
                <button class="PaginationButtons disabledBtn">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv" id="pagination">
                <button class="NavigationButton activeBtn" onclick="NavigatePageListing(@(ViewBag.PageNumber))">1</button>
            </div>
            <div class="paginationRightButtondv" id="pagination">
                <button class="PaginationButtons disabledBtn" disabled>Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 2)
        {
            <div class="paginationMiddleButtondv" id="pagination">
                <button class="PaginationButtons @(ViewBag.PageNumber == 1 ? "disabledBtn" : "")" onclick="NavigatePageListing(@(ViewBag.PageNumber != 1 ? ViewBag.PageNumber - 1 : ""))">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv" id="pagination">
                <button class="NavigationButton @(ViewBag.PageNumber == 1 ? "activeBtn" : "")" onclick="NavigatePageListing(1)">1</button>
            </div>
            <div class="NavigatonButtonsDiv" id="pagination">
                <button class="NavigationButton @(ViewBag.PageNumber == 2 ? "activeBtn" : "")" onclick="NavigatePageListing(2)">2</button>
            </div>
            <div class="paginationRightButtondv" id="pagination">
                <button disabled="@(ViewBag.PageNumber == 2 ? "disabled" : "")" onclick="NavigatePageListing(@(ViewBag.PageNumber != 2 ? ViewBag.PageNumber + 1 : ""))">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 3 || (ViewBag.PageNumber == 1 && ViewBag.PageCount == 3))
        {
            <div class="paginationMiddleButtondv" id="pagination">
                <button class="PaginationButtons @(ViewBag.PageNumber == 1 ? "disabledBtn" : "")" onclick="NavigatePageListing(@(ViewBag.PageNumber != 1 ? ViewBag.PageNumber - 1 : ""))">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv" id="pagination">
                <button class="NavigationButton @(ViewBag.PageNumber == 1 ? "activeBtn" : "")" onclick="NavigatePageListing(1)">1</button>
            </div>
            <div class="NavigatonButtonsDiv" id="pagination">
                <button class="NavigationButton @(ViewBag.PageNumber == 2 ? "activeBtn" : "")" onclick="NavigatePageListing(2)">2</button>
            </div>
            <div class="NavigatonButtonsDiv" id="pagination">
                <button class="NavigationButton @(ViewBag.PageNumber == 3 ? "activeBtn" : "")" onclick="NavigatePageListing(3)">3</button>
            </div>
            <div class="paginationRightButtondv" id="pagination">
                <button disabled="PaginationButtons @(ViewBag.PageNumber == 3 ? "disabled" : "")" onclick="NavigatePageListing(@(ViewBag.PageNumber != 3 ? ViewBag.PageNumber + 1 : ""))">Next</button>
            </div>
        }
        else if (ViewBag.PageCount > 3)
        {
            if (ViewBag.PageNumber == 1)
            {
                <div class="paginationMiddleButtondv" id="pagination">
                    <button disabled onclick="NavigatePageListing()">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv" id="pagination">
                    <button class="NavigationButton activeBtn" onclick="NavigatePageListing(@(ViewBag.PageNumber))">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv" id="pagination">
                    <button class="NavigationButton" onclick="NavigatePageListing(@(ViewBag.PageNumber + 1))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="NavigatonButtonsDiv" id="pagination">
                    <button class="NavigationButton" onclick="NavigatePageListing(@(ViewBag.PageNumber + 2))">@(ViewBag.PageNumber + 2)</button>
                </div>
                <div class="paginationRightButtondv" id="pagination">
                    <button class="PaginationButtons" onclick="NavigatePageListing(@(ViewBag.PageNumber + 1))">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == ViewBag.PageCount)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="NavigatePageListing(@(ViewBag.PageNumber - 1))" id="pagination">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="NavigatePageListing(@(ViewBag.PageNumber - 2))" id="pagination">@(ViewBag.PageNumber - 2)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="NavigatePageListing(@(ViewBag.PageNumber - 1))" id="pagination">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="NavigatePageListing(@(ViewBag.PageNumber))" id="pagination">@(ViewBag.PageNumber)</button>
                </div>
                <div class="paginationRightButtondv" id="pagination">
                    <button disabled onclick="NavigatePageListing()">Next</button>
                </div>
            }
            else
            {
                <div class="paginationMiddleButtondv" id="pagination">
                    <button class="PaginationButtons" onclick="NavigatePageListing(@(ViewBag.PageNumber - 1))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv" id="pagination">
                    <button class="NavigationButton" onclick="NavigatePageListing(@(ViewBag.PageNumber - 1))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv" id="pagination">
                    <button class="NavigationButton activeBtn" onclick="NavigatePageListing(@(ViewBag.PageNumber))">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv" id="pagination">
                    <button class="NavigationButton" onclick="NavigatePageListing(@(ViewBag.PageNumber + 1))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv" id="pagination">
                    <button class="PaginationButtons" onclick="NavigatePageListing(@(ViewBag.PageNumber + 1))">Next</button>
                </div>

            }
        }
    </div>
    <div class="area_zip_code_pagination_inner">
            @if (ViewBag.PageCount > 0)
            {
                <div class="paginationtextdv">
                    <span>Showing item @ViewBag.CurrentNumber of @ViewBag.OutOfNumber</span>
                </div>
            }
        </div>
</div>
